/*----------------------------------------
  Cuuston Fonts
----------------------------------------*/
@font-face {
    font-family: bw-regular;
    src: url(../fonts/maison-neue-mono.woff2);
}

@font-face {
    font-family: BlackAndWhite;
    src: url(../fonts/rz-regular.woff2);
}

/*----------------------------------------
  Default Styles
----------------------------------------*/
html {
    scroll-behavior: smooth;
}

body, figure {
    margin: 0 0;
    font-family: 'BlackAndWhite';
}

h2 {
    font-family: 'bw-regular';
    font-size: 12px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000;
}

.white {
    -webkit-text-stroke: 1px black;
    font-weight: 800;
    display: inline;
    color: #fff;
}

/*----------------------------------------
  Header and Nav
----------------------------------------*/
nav {
    border-bottom: 1px solid #000;
}

nav>div {
    background: #fff;
}

nav>div>p {
    background: #fff;
    margin: 0 auto;
    width: 80%;
    text-align: justify;
}

p:after {
    content: '';
    width: 100%;
}

span, p:after {
    display: inline-block;
}

span {
    line-height: 1rem;
    margin-top: 1.5em;
    text-align: center;
}

nav>div>p>span:nth-of-type(2) {
    margin-left: 60%;
}

/*----------------------------------------
  Hero Section
----------------------------------------*/
main > section > h1 {
    line-height: 150px;
    margin: 120px 160px;
    font-weight: 400;
    font-size: 9.375rem;
}

main > section {
    position: relative;
    margin: 0 auto;
}

main > section > figure:nth-of-type(1) > img {
    position: absolute;
    z-index: -1;
    top: 295px;
    left: 0px;
    max-width: 445px;
}

main > section > figure:nth-of-type(2) > img {
    position: absolute;
    z-index: -1;
    top: 440px;
    left: 40%;
    max-width: 380px;
}

main > section > figure:nth-of-type(3) > img {
    z-index: -1;
    position: absolute;
    top: 200px;
    right: 0px;
    max-width: 445px;
}


/*----------------------------------------
  The Agency Section
----------------------------------------*/
main > section:nth-of-type(2) {
    margin: 38% auto 18% auto;
}

main > section:nth-of-type(2) ul>li:hover {
    border-bottom: 2px solid #000;
    width: 250px;
}

main > section:nth-of-type(2) > div:first-of-type {
    display: inline-block;
    margin-left: 30%;
    width: 20%;
    vertical-align: top;
}

main > section:nth-of-type(2) > div:last-of-type {
    display: inline-block;
    width: 35%;
}

section:nth-of-type(2) > div h2 {
    margin-bottom: 2rem;
    font-family: 'bw-regular';
    font-size: 12px;
    font-weight: 400;
}

section:nth-of-type(2) > div > h2 {
    font-family: 'bw-regular';
    font-size: 12px;
    font-weight: 400;
}

section:nth-of-type(2) ul > li {
    list-style: none;
    font-size: 2rem;
    line-height: 40px;
}

section:nth-of-type(2) ul {
    padding: 0px;
}

/*----------------------------------------
  Projects Section
----------------------------------------*/
figcaption {
    font-family: 'bw-regular';
    font-size: 12px;
    font-weight: 400;
}

section:nth-of-type(3) > div > h2 {
    margin-bottom: 10rem;
}


section:nth-of-type(3) span:hover {
    padding-bottom: 8px;
    border-bottom: 2px solid #000;
}

section:nth-of-type(3) article:nth-of-type(2) figcaption:nth-child(even) {
    text-align: left;
}

section:nth-of-type(3) > article > figure > figcaption span {
    font-size: 3rem;
    margin-top: 2rem;
}

section:nth-of-type(3) > div:nth-of-type(1) {
    text-align: center;
}

section:nth-of-type(3) article:nth-child(even) {
    text-align: right;
}

section:nth-of-type(3) figcaption {
    display: inline-block;
    height: 600px;
    vertical-align: middle;
    margin:0 10%;

}

section:nth-of-type(3) img {
    max-width: 800px;
    text-align: center;
}

/*----------------------------------------
  Contact Section
----------------------------------------*/
section:nth-of-type(4) {
    padding-left: 10%;
    background-color: #000;
    color: #fff;
    padding-bottom: 10%;
}

section:nth-of-type(4) h1 {
    padding-top: 10%;
    padding-bottom: 4%;
    margin: 0;
}

section:nth-of-type(4) > div {
    text-align: center;
    width: 200px;
    display: inline-block;
    border: 1px solid #fff;
    padding: 20px;
}

section:nth-of-type(4) > div > a {
    color: #fff;
}

section:nth-of-type(4) > div:hover {
    box-shadow: 4px 6px;
}

/*----------------------------------------
  Footer Section
----------------------------------------*/
footer > p {
    padding-top: 10px;
    text-align: center;
}